pkgbase = stud
	pkgdesc = Play Roblox on Linux -- runs the real, unmodified Roblox Android app
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/CatPieLeaf/Stud
	arch = x86_64
	license = AGPL-3.0-or-later
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	makedepends = python
	makedepends = curl
	makedepends = unzip
	makedepends = zstd
	makedepends = e2fsprogs
	makedepends = wayland-protocols
	makedepends = vulkan-headers
	makedepends = pkgconf
	depends = bubblewrap
	depends = qt6-base
	depends = qt6-webengine
	depends = qtkeychain-qt6
	depends = vulkan-icd-loader
	depends = portaudio
	depends = freetype2
	depends = wayland
	depends = libxkbcommon
	optdepends = mangohud: the performance overlay Stud can switch on in Settings
	source = stud-1.1.0.tar.gz::https://github.com/CatPieLeaf/Stud/archive/refs/tags/v1.1.0.tar.gz
	sha256sums = SKIP

pkgname = stud
