pkgbase = stud
	pkgdesc = An Unofficial Open-Source Roblox Launcher for Linux
	pkgver = 1.1.7
	pkgrel = 1
	url = https://github.com/CatPieLeaf/Stud
	arch = x86_64
	license = AGPL-3.0-or-later
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	makedepends = python
	makedepends = curl
	makedepends = unzip
	makedepends = zstd
	makedepends = e2fsprogs
	makedepends = wayland-protocols
	makedepends = vulkan-headers
	makedepends = pkgconf
	depends = bubblewrap
	depends = qt6-base
	depends = qt6-webengine
	depends = qtkeychain-qt6
	depends = vulkan-icd-loader
	depends = libglvnd
	depends = libx11
	depends = libxext
	depends = libxi
	depends = freetype2
	depends = wayland
	depends = libxkbcommon
	depends = glibc
	depends = gcc-libs
	depends = openssl
	depends = hicolor-icon-theme
	optdepends = mangohud: the performance overlay Stud can switch on in Settings
	optdepends = wl-clipboard: copying a server link from the tray menu on Wayland
	optdepends = libdecor: a titlebar on a Wayland compositor that draws none itself, such as GNOME
	source = stud-1.1.7.tar.gz::https://github.com/CatPieLeaf/Stud/archive/refs/tags/1.1.7.tar.gz
	sha256sums = eee1bce51b72fbdf3ff3ec7a5d591e5a931598836e6cbd9112eba0f6d6e96cbe

pkgname = stud
